<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plantInfo</key>
	<dict>
		<key>Bird of paradise</key>
		<dict>
			<key>description</key>
			<string></string>
			<key>location</key>
			<string></string>
			<key>size</key>
			<string></string>
			<key>humidity</key>
			<string></string>
			<key>water</key>
			<string></string>
			<key>image</key>
			<string>bird</string>
		</dict>
		<key>Peperomia obtusifolia</key>
		<dict>
			<key>description</key>
			<string></string>
			<key>location</key>
			<string></string>
			<key>size</key>
			<string></string>
			<key>humidity</key>
			<string></string>
			<key>water</key>
			<string></string>
			<key>image</key>
			<string>peperomia</string>
		</dict>
		<key>Fiddle leaf figs</key>
		<dict>
			<key>description</key>
			<string></string>
			<key>location</key>
			<string></string>
			<key>size</key>
			<string></string>
			<key>humidity</key>
			<string></string>
			<key>water</key>
			<string></string>
			<key>image</key>
			<string>fiddle</string>
		</dict>
		<key>Zanzibar gem</key>
		<dict>
			<key>description</key>
			<string></string>
			<key>location</key>
			<string></string>
			<key>size</key>
			<string></string>
			<key>humidity</key>
			<string></string>
			<key>water</key>
			<string></string>
			<key>image</key>
			<string>zz</string>
		</dict>
		<key>Money tree</key>
		<dict>
			<key>description</key>
			<string>Easy-going money trees make excellent indoor plants. This affordable pick from Just Add Ice comes in a 5-inch ceramic pot and will be about 15 inches tall when it reaches your doorstep. As the brand&apos;s name implies, all you need to do is add two ice cubes to the soil once a week and set it in a brightly lit room.</string>
			<key>location</key>
			<string>shaded indoors</string>
			<key>size</key>
			<string>height 40&apos;&apos; - 50&apos;&apos;</string>
			<key>humidity</key>
			<string>upto 73%</string>
			<key>water</key>
			<string>every 11 days</string>
			<key>image</key>
			<string>money</string>
		</dict>
		<key>Philodron brasil</key>
		<dict>
			<key>description</key>
			<string></string>
			<key>location</key>
			<string></string>
			<key>size</key>
			<string></string>
			<key>humidity</key>
			<string></string>
			<key>water</key>
			<string></string>
			<key>image</key>
			<string>philodron</string>
		</dict>
	</dict>
	<key>plants</key>
	<array>
		<dict>
			<key>image</key>
			<string>philodron</string>
			<key>name</key>
			<string>Philodron brasil</string>
		</dict>
		<dict>
			<key>image</key>
			<string>money</string>
			<key>name</key>
			<string>Money tree</string>
		</dict>
		<dict>
			<key>image</key>
			<string>fiddle</string>
			<key>name</key>
			<string>Fiddle leaf figs</string>
		</dict>
		<dict>
			<key>image</key>
			<string>zz</string>
			<key>name</key>
			<string>Zanzibar gem</string>
		</dict>
		<dict>
			<key>image</key>
			<string>peperomia</string>
			<key>name</key>
			<string>Peperomia obtusifolia</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bird</string>
			<key>name</key>
			<string>Bird of paradise</string>
		</dict>
	</array>
</dict>
</plist>
